@import url('https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/variable/woff2/SUIT-Variable.css');

.c-profile {
  width: 100px; /* 이미지 크기 */
  height: 100px; /* 이미지 크기 */
  border-radius: 50%; /* 원형으로 만들기 */
  object-fit: cover; /* 이미지 잘림 방지 */
  display: block;
  margin: 0px 10px;
}
.profile {
  width: 100px; /* 이미지 크기 */
  height: 100px; /* 이미지 크기 */
  border-radius: 50%; /* 원형으로 만들기 */
  object-fit: cover; /* 이미지 잘림 방지 */
  display: block;
}

@keyframes gradient-shift {
  0% {
    background: linear-gradient(to top, #312442, #101121);
  } /* BLUE: 20245a */
  50% {
    background: linear-gradient(to top, #312442d0, #101121);
  }
  100% {
    background: linear-gradient(to top, #312442, #101121);
  }
}
.profile-box {
  /* 프로필 이미지와 텍스트들을 하나로 묶어 왼쪽으로 정렬하고 싶으면 html 10줄에 스타일을 추가하세요. */
  animation: gradient-shift 3s infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  padding: 38px 20px;
  border-radius: 8px;
}
.profile-box:hover {
  background: linear-gradient(to top, #6f00ff, #101121);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.profile-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-box {
  display: flex;
  padding: 14px;
  border-radius: 8px;
  background: linear-gradient(to bottom, #1d1f3b, #131528);
}
.link-box:hover {
  background: linear-gradient(to bottom, #202336, #151720);
  transition: background 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.link-box p {
  margin-top: -5px;
  line-height: 1.4;
}
.link-box h3 {
  color: #e5e7f4; /* 밝은 포인트 색상 */
}

.link-container {
  display: flex; /* 전체 블록 요소를 클릭 가능하게 */
  text-decoration: none; /* 링크의 기본 밑줄 제거 */
  color: inherit; /* 텍스트 색상 상속 */
}

body {
  font-family: 'SUIT Variable', sans-serif;
  background-color: #101121;
}
h1 {
  margin: 8px 0px;
  font-size: 42px;
  color: #fff;
}
h2 {
  margin-top: 0px;
  margin-bottom: 0;
  color: #fff;
}
h3 {
  margin-top: 0px;
  font-size: 18px;
  color: #fff;
}
.h2-h {
  margin: 28px 3px 12px;
  font-size: 20px;
}
.h3-h {
  margin: 20px 3px 12px;
  font-size: 18px;
}
.p-small {
  margin: 20px 3px 12px;
  font-size: 14px;
}
p {
  margin: 14px 0px 3px 0px;
  color: #bbc3cb;
}
hr {
  margin-top: 20px;
}
span {
  color: blueviolet;
  font-weight: 600;
}

.other-gap {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
}

/* 메인 컨테이너: 프로필과 링크 섹션을 가로로 배치 */
.main-container {
  display: flex; /* 플렉스박스 활성화 */
  gap: 20px; /* 두 섹션 간 간격 */
  justify-content: space-between; /* 가로로 균등하게 배치 */
  align-items: flex-start; /* 세로축 정렬 */
  margin: 20px;
}

/* 1번: 프로필 섹션 */
.profile-section {
  flex: 1; /* 가로 공간을 적절히 차지 */
  max-width: 380px; /* 최대 너비 제한 */
}

/* 2번: 관련 링크 섹션 */
.related-links {
  flex: 1; /* 가로 공간을 적절히 차지 */
  max-width: auto; /* 최대 너비 제한 */
}
@media (max-width: 600px) {
  .main-container {
    flex-direction: column;
    gap: 10px;
  }

  .profile-section,
  .related-links {
    max-width: 100%; /* 너비 제한 해제 */
  }
}
